<div class="block">

  <div style="display: flex; flex-direction: row;">
    <h1 class="category">
      Оборудование
    </h1>
    <div class="center-in mobile-filter">
      <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="32px" viewBox="0 0 24 24" width="32px" fill="#00000"><g><path d="M0,0h24 M24,24H0" fill="none"/><path d="M7,6h10l-5.01,6.3L7,6z M4.25,5.61C6.27,8.2,10,13,10,13v6c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1v-6 c0,0,3.72-4.8,5.74-7.39C20.25,4.95,19.78,4,18.95,4H5.04C4.21,4,3.74,4.95,4.25,5.61z"/><path d="M0,0h24v24H0V0z" fill="none"/></g></svg>
    </div>
  </div>

  <div class="main-content">
    <div class="filters">
      <div style="display: flex; flex-direction: row; column-gap: 10px">
        <h2>Фильтры</h2>
        <div class="center-in">
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="32px" viewBox="0 0 24 24" width="32px" fill="#ffc857"><g><path d="M0,0h24 M24,24H0" fill="none"/><path d="M7,6h10l-5.01,6.3L7,6z M4.25,5.61C6.27,8.2,10,13,10,13v6c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1v-6 c0,0,3.72-4.8,5.74-7.39C20.25,4.95,19.78,4,18.95,4H5.04C4.21,4,3.74,4.95,4.25,5.61z"/><path d="M0,0h24v24H0V0z" fill="none"/></g></svg>
        </div>
      </div>

      <div class="price-filter">
        <h3>Цена</h3>
        <div class="input-container">
          <input value="0" type="number" min="0" max="25000">
          <div class="center-in" style="padding: 3px"><strong>-</strong></div>
          <input value="25000" type="number" min="0" max="25000">
          <div class="center-in" style="padding: 3px"><strong>₽</strong></div>
        </div>
      </div>

      <div>
        <h3>Производитель</h3>
        <div class="checkbox"><input type="checkbox"><p>Balu</p></div>
        <div class="checkbox"><input type="checkbox"><p>Daikin</p></div>
        <div class="checkbox"><input type="checkbox"><p>Airwell</p></div>
        <div class="checkbox"><input type="checkbox"><p>Cooper&Hunter</p></div>
      </div>

      <div>
        <h3>Тип</h3>
        <div class="checkbox"><input type="checkbox"><p>сплит система</p></div>
        <div class="checkbox"><input type="checkbox"><p>мобильный</p></div>
        <div class="checkbox"><input type="checkbox"><p>мульти сплит-система</p></div>
        <div class="checkbox"><input type="checkbox"><p>внутренний блок</p></div>
        <div class="checkbox"><input type="checkbox"><p>наружний блок</p></div>
      </div>

      <div class="price-filter">
        <h3>Обслуживаемая площадь</h3>
        <div class="input-container">
          <input value="12" type="number" min="12" max="180">
          <div class="center-in" style="padding: 3px"><strong>-</strong></div>
          <input value="180" type="number" min="0" max="180">
          <div class="center-in" style="padding: 3px"><strong>м²</strong></div>
        </div>
      </div>

      <div>
        <h3>Наличие</h3>
        <div class="checkbox"><input type="checkbox" checked><p>в наличии</p></div>
        <div class="checkbox"><input type="checkbox"><p>нет в наличии</p></div>
        <div class="checkbox"><input type="checkbox"><p>под заказ</p></div>
      </div>

      <div>
        <h3>Режим работы</h3>
        <div class="checkbox"><input type="checkbox" checked><p>обогрев/охлаждение</p></div>
        <div class="checkbox"><input type="checkbox"><p>охлаждение</p></div>
      </div>

      <div class="price-filter">
        <h3>Высота внешнего блока</h3>
        <div class="input-container">
          <input value="97" type="number" min="97" max="1380">
          <div class="center-in" style="padding: 3px"><strong>-</strong></div>
          <input value="1380" type="number" min="97" max="1380">
          <div class="center-in" style="padding: 3px"><strong>мм²</strong></div>
        </div>
      </div>

      <div class="price-filter">
        <h3>Ширина внешнего блока</h3>
        <div class="input-container">
          <input value="84.5" type="number" min="84.5" max="1380">
          <div class="center-in" style="padding: 3px"><strong>-</strong></div>
          <input value="1380" type="number" min="84.5" max="1380">
          <div class="center-in" style="padding: 3px"><strong>мм</strong></div>
        </div>
      </div>

      <div class="price-filter">
        <h3>Глубина внешнего блока</h3>
        <div class="input-container">
          <input value="37" type="number" min="37" max="770">
          <div class="center-in" style="padding: 3px"><strong>-</strong></div>
          <input value="770" type="number" min="37" max="770">
          <div class="center-in" style="padding: 3px"><strong>мм</strong></div>
        </div>
      </div>

      <div class="price-filter">
        <h3>Ширина внутреннего блока</h3>
        <div class="input-container">
          <input value="60" type="number" min="60" max="1631">
          <div class="center-in" style="padding: 3px"><strong>-</strong></div>
          <input value="1631" type="number" min="60" max="1631">
          <div class="center-in" style="padding: 3px"><strong>мм</strong></div>
        </div>
      </div>

      <div class="price-filter">
        <h3>Высота внутреннего блока</h3>
        <div class="input-container">
          <input value="34" type="number" min="34" max="2360">
          <div class="center-in" style="padding: 3px"><strong>-</strong></div>
          <input value="2360" type="number" min="34" max="2360">
          <div class="center-in" style="padding: 3px"><strong>мм</strong></div>
        </div>
      </div>

      <div class="price-filter">
        <h3>Глубина внутреннего блока</h3>
        <div class="input-container">
          <input value="26" type="number" min="26" max="840">
          <div class="center-in" style="padding: 3px"><strong>-</strong></div>
          <input value="840" type="number" min="26" max="840">
          <div class="center-in" style="padding: 3px"><strong>мм</strong></div>
        </div>
      </div>

    </div>
    <div class="products">
      <app-card *ngFor="let product of products" [content]="product">
      </app-card>
    </div>
  </div>
</div>
