<a class="dropdown" routerLink="{{ content.link }}">
  <div class="content-banner" style="background-color: {{ content.color }}">
    <div>
      <h2 class="marked-text">
        {{ content.title }}
      </h2>
      <h4 class="price-text">
        {{ content.subtitle }}
      </h4>
    </div>
    <div class="image-container">
      <img src="{{ content.image }}">
    </div>
  </div>
  <div class="drop-parent">
    <div class="drop-content">
      <app-category *ngFor="let category of content.categories" [content]="category"></app-category>
    </div>
  </div>
</a>
