<div class="banner-content">
  <app-baner *ngFor="let banner of banners" [content]="banner"></app-baner>
</div>

<!--<div class="block">-->
<!--  <div class="text-content">-->
<!--    <h1>О нас</h1>-->

<!--    Наша компания занимается продажей климатического оборудования, а так же и оказанием высококвалифицированных услуг ремонта, обслуживания кондиционеров. Ассортимент включает: кондиционеры, радиаторы, тепловые насосы, климатические установки.-->
<!--    Для нас приоритет в работе является индивидуальный подход к клиенту! Именно поэтому, если человек хочет купить климатическое оборудование в Крыму, то он  обратится к нам! <br> <br>-->

<!--    В нашем магазине представлены товары многих брендов в широком ассортименте. По каждому бренду мы получаем обратную связь от наших покупателей. Вы гарантированно получаете высококачественные товары, которые точно прослужат вам долгие годы.<br><br>-->
<!--  </div>-->
<!--</div>-->

<div class="block bleed" style="padding: 10px 0">
  <h1 style="padding: 0 20px">
    Популярные товары
  </h1>
  <div style="padding: 0 20px;">
    <app-card-carousel [content]="allCards"></app-card-carousel>
  </div>
</div>

<!--<div class="block">-->
<!--  <div class="text-content">-->
<!--    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet nec ullamcorper sit amet risus nullam. Eu ultrices vitae auctor eu augue ut lectus arcu bibendum. Et netus et malesuada fames. Fringilla est ullamcorper eget nulla facilisi. Sollicitudin aliquam ultrices sagittis orci a. Porttitor lacus luctus accumsan tortor posuere ac ut consequat. Elementum sagittis vitae et leo. At imperdiet dui accumsan sit amet nulla facilisi. Luctus accumsan tortor posuere ac ut. Aliquet risus feugiat in ante metus. Eget nunc lobortis mattis aliquam faucibus. Nulla posuere sollicitudin aliquam ultrices. Porttitor lacus luctus accumsan tortor posuere. Elementum eu facilisis sed odio. Nunc lobortis mattis aliquam faucibus purus in massa tempor. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Sollicitudin nibh sit amet commodo. Sit amet justo donec enim.-->

<!--    Tellus integer feugiat scelerisque varius morbi enim. Elementum nibh tellus molestie nunc non. Vitae auctor eu augue ut lectus arcu. Gravida quis blandit turpis cursus in. Eu consequat ac felis donec. Vel pretium lectus quam id leo in vitae. Felis imperdiet proin fermentum leo vel. Varius vel pharetra vel turpis. Cras pulvinar mattis nunc sed. Vestibulum sed arcu non odio euismod lacinia at quis. Fringilla urna porttitor rhoncus dolor purus.-->

<!--    Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Tortor vitae purus faucibus ornare suspendisse. Faucibus vitae aliquet nec ullamcorper sit amet. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Nam libero justo laoreet sit amet. Odio facilisis mauris sit amet massa vitae tortor. Sit amet cursus sit amet dictum. Vulputate dignissim suspendisse in est. Senectus et netus et malesuada fames ac. Dolor sit amet consectetur adipiscing elit ut aliquam purus sit. Sapien faucibus et molestie ac. Amet facilisis magna etiam tempor orci eu lobortis. Non nisi est sit amet facilisis magna.-->

<!--    Aliquam ut porttitor leo a diam sollicitudin tempor id. At tempor commodo ullamcorper a lacus. Nisl nisi scelerisque eu ultrices vitae. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Quis commodo odio aenean sed adipiscing. Et tortor at risus viverra adipiscing at. Suscipit tellus mauris a diam maecenas sed enim ut sem. Tellus in metus vulputate eu scelerisque. Porttitor eget dolor morbi non. Turpis egestas integer eget aliquet nibh praesent.-->

<!--    Vestibulum mattis ullamcorper velit sed ullamcorper morbi. Est ullamcorper eget nulla facilisi. Tincidunt lobortis feugiat vivamus at augue. Velit dignissim sodales ut eu sem. Dictum fusce ut placerat orci. Tellus cras adipiscing enim eu turpis egestas pretium aenean. Et odio pellentesque diam volutpat commodo sed. Tristique magna sit amet purus gravida quis blandit turpis cursus. Turpis egestas pretium aenean pharetra magna. Sed nisi lacus sed viverra tellus in hac habitasse. Lorem sed risus ultricies tristique nulla aliquet enim tortor. Egestas dui id ornare arcu. A scelerisque purus semper eget duis. Laoreet suspendisse interdum consectetur libero. Adipiscing tristique risus nec feugiat in fermentum posuere. Leo vel orci porta non pulvinar neque. Aliquam sem et tortor consequat id porta nibh. A cras semper auctor neque vitae tempus quam. Felis bibendum ut tristique et egestas quis ipsum suspendisse.-->
<!--  </div>-->
<!--</div>-->
